html, body {
  font-family: 'Garamond', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}


/*Header section*/

.holder {
  display: flex;
  height: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: flex-end;
  background-image: url('img/banner2.svg');
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.name {
  position: absolute;
  text-align: center;
  top: 22%;
  left: 15%;
}

.name h1, h2 {
  background-color: white;
}

.name h1 {
  font-weight: 600;
  font-family: 'Codystar', Garamond;
}

.name a {
  text-decoration: none;
  color: black;
}

.name a:active {
  color: black;
}

.name a:visited {
  color: black;
}

.name h2 {
 font-size: 1.2em;
 letter-spacing: 0.1em;
 font-weight: 400;
 font-family: 'Garamond';
}


nav {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 1px;
  background-color: rgba(255,255,255, 0.75);
  border-bottom: rgb(197, 203, 209) 1px solid;
  justify-content: space-around;
}

.navlinks {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navlinks a {
  text-decoration: none;
  color:black;
}

.navlinks li {
    list-style: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: rgb(0, 132, 255); /*rgb(197, 203, 209);*/
}


/* Hamburger menu setup */

.burger div {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 7px;
}

.burger {
  display: none;
}

/* Content section */

.content {
  position: relative;
  padding-top: 300px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.856);
  line-height: 1.5em;
}

.content-flex {
  display: flex;
}

#photo img {
  width: 110%;
  height: auto;
  padding-top: 15%;
} 

#about {
  padding-top: 2%;
  padding-left: 5%;
}

.specialty, .references, .course, .contact {
  margin: 5% 0;
}

.contact {
  text-align: center;
  min-height: 40%;
}

.contact p {
  padding: 2% 0;
  font-size: 22px;
}



/* General links specification */


.links a {
  color: rgb(0, 132, 255);
}

.links a:visited {
  color: rgb(0, 132, 255);
}

.links a:hover {
 color: rgb(92, 176, 255);
}

.references p {
  padding: 1% 0;
}


/* Publications links */


.publ-link {
  border-radius: 5px;
  border-style: dotted;
  border-width: 1px;
  margin-right: 5px;
  padding: 1.5px 3px;
  font-size: 13px;
  text-decoration: none;
}

.publ-where {
  font-style: italic;
}


/* Icons */

#RG {
  width: 50px;
  height: auto;
}



/*Footer*/

footer {
  position: relative;
  width: 100%;
  bottom:0;
}

footer p {
  font-size: 0.9rem;
  text-align: end;
  padding-right: 1%;

}


/* Small screens */

@media only screen and (max-width: 768px), (max-height: 600px)) {
  body {
      overflow-x: hidden;
  }
  
  .holder {
    height: 100px;
  }

  .content {
    padding-top: 100px;
  }

  .name h2{
      display: none;
    }

  .name {
      top: 15%;
      left: 7.5%;
  }

  /*Hamburger menu */ 
  .navlinks {
      position: absolute;
      right: 0px;
      height: 84vh;
      top: 85px;
      background-image: url(img/menu.svg);
      opacity: 0.95;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .navlinks li {
      opacity: 1;
  }

  .burger {
      display: block;
      cursor: pointer;
  }

  nav {
      justify-content: flex-end;
  }
}

.nav-active {
    transform: translateX(0%);
}
